.pmodal.open .modal-window,
.pmodal.open .modal-overlay {
    opacity: 1;
    z-index: 100;
}

.pmodal.open .modal-overlay {
    background-color: rgba(0, 0, 0, .5);
}

.pmodal.open .modal-window {
    transform: translateY(100px);
}


/* .pmodal.close .modal-overlay {
    background-color: rgba(0, 0, 0, 0);
}

.pmodal.close .modal-window {
    transform: translateY(-200px);
} */

.modal-window,
.modal-overlay {
    opacity: 0;
    z-index: -1;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s ease;
}

.modal-window {
    width: 600px;
    border-radius: 5px;
    background-color: #fff;
    margin: 0 auto;
    transform: translateY(-200px);
    transition: all 0.3s ease;
}

.modal-title {
    font-size: 1.5rem;
}

.modal-body p {
    margin: 0 0 5px 0;
}

.modal-close {
    cursor: pointer;
}

.card-img-top {
    height: 300px;
    object-fit: contain;
}